<!-- <app-login></app-login>

{{ userService.getName() }}

<input [(ngModel)]="text"/>

<br/>

<span [ngClass]="classes">{{text}}</span>

<br/>

<button (click)="onChangeColor('red')">Make red</button>
&nbsp;
<button (click)="onChangeColor('blue')">Make blue</button>
<br/>
<br/>
<button (click)="onClick()">Click me</button>


<app-life-cycles [inputValue]="appInputValue">
  <div #variable *ngIf="hide">content</div>
</app-life-cycles>

<button (click)="onToggle()">Toggle</button>

<button (click)="onIncrement()">Increment</button> -->

<h1>RxJs</h1>
<app-roles></app-roles>